$one__light: rgb(249, 251, 253) !default;
$one__primary: #2c7be5;
$one__sidebar-color-hover: #274aa5 !important;
$one__sidebar-border: #2c7be5 !important;
$one__sidebar-color: #2c7be5 !important;
$one__sidebar_text: #fff !default;
$one__primary-light: #ebf0fd !default;
$one__primary-dark: #274aa5 !important;
$one__light-font-primary: #12263f !important;
$one__light-font-secondary: #575757 !important;
$one__hover-bkg-light: #f5f5f5 !important;
$one__border-light: #edf2f9 !important;
$one__info: #454555 !important;
$one__muted: #95aac9 !important;